*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin createcolor($x,$y,$z){
    background-color: rgb($x, $y, $z);
}

@for $col from 0 to 255{
    .bg-red-#{$col}{
        @include createcolor($col*4,0,0);
    }  
    .bg-green-#{$col}{
        @include createcolor(0,$col*2,$col/2);
    }
    .bg-blue-#{$col}{
        @include createcolor(0,$col*2,$col*6);
    }
    .display{ 
        display: flex;
    }
    .warp{
        flex-wrap: wrap;

    }
    .gap-#{$col}{
        gap: $col + px;
    }
    .items{
        align-items: center;
    }
    .justify{
        justify-content: center;
    }
    .box-#{$col}{
        height: $col + 100px;
        width: $col + 100px;
        color: white;
    }
}